<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="listener.CustomListener"/>
    </listeners>


    <test verbose="2" preserve-order="true"
          name="C:/BridgeLabz/Quality Kiosk/Automation_Testing/GivaTest_Automation/src/test/java/com/giva/qa/tests/LoginTest.java">
        <classes>
            <class name="com.giva.qa.tests.LoginTest">
<!--                <methods>-->
<!--                    <include name="loginTest"/>-->
<!--                    <include name="getTitles"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>